
:root {
  --primary: #2721db;
  --primary-hover: #345ed1;
  --second-hover: #7490de;
  --bg-main: #f8fafc;
  --text-main: #1e293b;
  --text-muted: #64748b;
  --border: #e2e8f0;
  --white: #ffffff;
  --tab-background: #bebcf4;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
  -webkit-font-smoothing: antialiased;
}

.app-wrapper {
  min-height: 100vh;
  padding: 30px;
}