.CV-wrapper {
  flex: 1;    
  position: sticky;        
  min-width: 550px;
  background-color: var(--tab-background);
  width: 100%;   
  height: 500px;
  max-width: 800px;
  box-shadow: 15px 15px 10px rgba(244, 6, 228, 0.1);
  padding: 50px;
  border-radius: 10px;      
  margin-top: 20px;

    
  /* display: flex;
  flex-direction: column; */
}
