.CV-wrapper {
  flex: 1;    
  position: sticky;        
  min-width: 550px;
  background-color: var(--tab-background);
  width: 100%;   
  min-height: 480px;
  max-width: 800px;
  box-shadow: 15px 15px 10px rgba(244, 6, 228, 0.1);
  padding: 50px;
  border-radius: 10px;      
  margin-top: 20px;

    
  /* display: flex;
  flex-direction: column; */
}

.profile-container {
  background-color: var(--dark-pink);
  width: 100%;   
  height: 300px;
  border-radius: 30px;
  

}

.profile-container h2,
.profile-container h3 ,
.profile-container h5{

  margin: 25px;
 
}

.container-profile-title{
  border-radius: 30px;
  padding: 15px;
  background-color: var(--pink);
 
  
}
