.general-info-container {
  max-width: 500px;
  margin: 20px;
  padding: 10px 10px;
  background-color: var(--tab-background);
  border-radius: 10px; 

  flex: 1;            

}

.main-title {
  margin-top: auto;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: var(--text-main);
}



.cv-sections {
  display: flex;
  flex-direction: column;
  gap: 30px; 
  width: 400px;
}