.general-info-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px 30px;
  background-color: var(--tab-background);
  border-radius: 10px;
;
}

.main-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: -0.025em;
  color: var(--text-main);
}



.cv-sections {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}